# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [2]:
my_variable  = 23
print(my_variable)
my_other_var = 456
print(my_other_var)

23
456

##### Assinging float

In [3]:
my_new_var =323. 
type(my_new_var)
#any number with a decimal REGARDLESS of any value after the decimal will still be onsidered a float.

float

#### Performing Calculations on ints and floats

##### Addition

In [8]:
num1= 2
num2 = 5.7
result = num1 + num2
print(result)
print(type(result))

result += 5
print(result)

7.7
<class 'float'>
12.7

##### Subtraction

In [9]:
result_diff =num2-num1
print(result_diff)

result_diff -= 3

print(result)

3.7
9.7

##### Multiplication

In [15]:
num3= 5
num4= 10

result_mult  = num3 * num4
print(result_mult)

result_mult *= 3
print(result_mult)

50
150

##### Division

In [18]:
result_div = num4/num3
print(result_div)

result_div /= 2
print(result_div)

2.0
1.0

##### Floor Division

In [21]:
#standard divison
result_div = 5/2
print(result_div)

#division which only includes base number
#rounds down
#no decimal
result_floor = 5//2
print(result_floor)

2.5
2

##### Modulo

In [22]:
#remainder after division
#5/2 = 2.1
#modulo= 1
result_mod = 5%2
print(result_mod)

1

In [25]:
#67 days I assume all months have 30 days... how many extra days do I have wth 67 days 
result_mod = 67%30
print(result_mod)

7

In [29]:
if 15%3 == 0:
    print("box is red")

box is red

In [30]:
amount_of_seconds =330
no_of_minutes =amount_of_seconds // 60
print(no_of_minutes)
seconds = amount_of_seconds % 60
print(seconds)

5
30

##### Exponential

In [ ]:
square = 5**2
print(square)

x= 5
x **=2
print(x)

### String Input-Output

##### String Assignment

In [46]:


name = "Marcus"
print(name)

name= 'Marcus'
print(name)

greeting = "Welcome to class Y'all"
print(greeting)

#using the dash (\) in this code line is called using an escape sequence
greeting = 'Welcome to class Y\'all'
print(greeting)

convo = 'he said "Hello Class"'
print(convo)

#incorporating another escape sequence
convo = "he said \"Hello Class\" "
print(convo)

paragraph ="\t Welcome to our Class \n This is intro to Python\n I hope you have fun!"
print(paragraph)

multiline="""
        hey 
look at "this" 
        wild 
    string that is 
lot of lines 
"""
print(multiline)

Marcus
Marcus
Welcome to class Y'all
Welcome to class Y'all
he said "Hello Class"
he said "Hello Class"
	 Welcome to our Class
 This is intro to Python
 I hope you have fun!

        hey
look at "this"
        wild
    string that is
lot of lines

##### print() <br>
<p>Don't forget about end=' '</p>

In [53]:
word1 ="apple" 
word2 ="orange" 
word3 ="strawberry" 
word4 ="grape" 
#sep = seperator 
#end value is default \n (print next line on a new line)
#adding value to end as &&& prints both lines of code on same line
print(word1, word2, word3, word4, "banana", sep = " * ", end ="&&&&" )
print(word1, word2, word3, word4, "banana")

apple * orange * strawberry * grape * banana&&&&apple orange strawberry grape banana

In [52]:
print(print("Hello"))

Hello
None

##### String Concatenation

In [67]:
#standard code
first_name = "Tony"
last_name = "Campos"
full_name = first_name + last_name
print(full_name)
#adding a space using " "
full_name = first_name + " "+ last_name
print(full_name)
#adding more code to the sentence
full_name += " is a great student"
print(full_name)

last_name [0:4]

last_name[::1]. title()

#last_name[::2].title()
# = Cmo

#last_name[::-2].title()
#= Spa

TonyCampos
Tony Campos
Tony Campos is a great student

'Campos'

##### Type Conversion

In [71]:
num1 = 3
num2 = "4"
#str used for integer of 3 in this line
#not the actual integer
print(str(num1)+ num2)

#int used here to use integer value of 4
#not the string of 4
print(num1 +int(num2) )

type(num2)

int()
str()
list()
dict()
tuple()
set()
float()

int("Steve")

34
7

##### input()

In [75]:
#getting info from command line
#input ALWAYS returns string/not integer
age = input("What is your age")
print(age)
print(type(age) )

<class 'str'>

In [78]:
while True: 
    age = input(" What is your age? ")
    if age.isdigit():
        age = int(age)
        print( "In one year you will be", age+1,"years old")
    else:
       print("You moron age is made with numbers!")

You moron age is made with numbers!
You moron age is made with numbers!
You moron age is made with numbers!
You moron age is made with numbers!
You moron age is made with numbers!
You moron age is made with numbers!
You moron age is made with numbers!
You moron age is made with numbers!
You moron age is made with numbers!
You moron age is made with numbers!
In one year you will be 11 years old
You moron age is made with numbers!
You moron age is made with numbers!
You moron age is made with numbers!
You moron age is made with numbers!
You moron age is made with numbers!
You moron age is made with numbers!
You moron age is made with numbers!
You moron age is made with numbers!
You moron age is made with numbers!
You moron age is made with numbers!
You moron age is made with numbers!
You moron age is made with numbers!
You moron age is made with numbers!
You moron age is made with numbers!
You moron age is made with numbers!
You moron age is made with numbers!
You moron age is made with numbers!
You moron age is made with numbers!
You moron age is made with numbers!
You moron age is made with numbers!

##### format()

In [7]:
age = int(input("what is your age?"))
result_string = 'You are ( ) years old and are getting wiser! '. format(age)

print(result_string)

You are ( ) years old and are getting wiser!

##### Old Way (python 2)

In [8]:
age = "35"
result_str = 'You are %s years old and getting wiser' %age
print(result_str)

You are 35 years old and getting wiser

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [8]:
color = input("Enter the color, year, make, and model of your vehicle ")
year= input("What year was your model made?")
make= input("What make is your car?")
model= input("What is your car model?")


print(f"You have a {color} {year} {make} {model}")

You have a blue 2022 honda civic

### If Statements

In [ ]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)
# One False in an AND statement = False
#One True statement in an OR statement = True


# Truth Tree:
# true and False #true
# true and False #false
# True and False and True #false
# True or True #true
# True or False #true

In [45]:
test = [1,2]

if True or test [3]:
    print("This is false")

This is false

In [49]:
my_var = 123

if my_var is None:
    print("It's none")
else:
    print("It's something")

It's something

In [50]:
list1 = [1,2,3]
list2 = [1,2,3]
list3 = [1,2,3]

if list1 == list2:
    print("List1 is equal to List2")
else:
    print("List1 is NOT equal to List2")

List1 is equal to List2

In [51]:
if list1 is list2:
    print("list1 is list 2")
else:
    print("list1 is NOT list2")

list1 is NOT list2

In [53]:
if list1 is list3:
    print("list1 is list3")
else:
    print("list1 is NOT list3")

list1 is NOT list3

In [57]:
list1 = [1,2,3]
list2 = [1,2,3]
list3 = list1
if list1 is list3:
    print("list1 is list3")
else:
    print("list1 is NOT list3")

list3.append(99)
print(list3)
print(list1)
print(list2)

list1 is list3
[1, 2, 3, 99]
[1, 2, 3, 99]
[1, 2, 3]

In [38]:
5 == 5

bool(5 ==5 )

True

In [13]:
bool('hello')

#empty strings return false result
bool('')
bool(0)

False

In [18]:
bool (1)
bool(-99)
bool(99)

True

In [22]:
 5<2 #false
 5<5    #false
 5 <=5 #true(<= less than or equal to )
 5 == 5 #true
 7 >= 5 #true (>= greater or equal to)
 4!= 5 #true (!= means does not equal)

True

In [ ]:
#   Even letters have numerical values!!

In [28]:
#chr(num) used to find the letter that corresponds to the number
chr(66) #B
chr(88) #X

'X'

In [25]:
ord("A") #value of 65

65

In [26]:
ord("a") #value of 97

97

In [24]:
"A">"a" #false
"a">"A" #true

True

In [31]:
num1 = 5
num2 = 10

print("Not equal")
if num1 == num2:
    print("Equal")

Not equal

In [30]:
num1 = 10
num2 = 10

print("Start of stuff")
if num1 == num2:
    print("Equal")

Start of stuff
Equal

In [32]:
num1 = 5
num2 = 10

print("Not equal")
if num1 == num2:
    print("Equal")
elif num1 < num2:
    print("num2 is bigger")
else:
    print("num1 is bigger")

Not equal
num2 is bigger

In [34]:
#inline if statements ... one line if statements 
#TERNARY operator

name = "John"

#if your name is john your age has to be 33... if oyur name is not john your age is 99

age = 33 if name == "John" else 99
print(age)

33

In [37]:
#name = "John"
name = "Steve"

age = 0
if name == "John":
    age = 33
elif name == "steve":
    age = 77
else:
     age = 99
print(age)

#vvv ternary code vvv

age = 33 if name == "John" else 77 if name == "Steve" else 99
print(age)

99
77

##### 'is' keyword

##### 'in' keyword

In [59]:
#membership Checks!!
char_name = "Max Payne"
if 'Max' in char_name:
    print("The character who lost everything...!!")

The character who lost everything...!!

In [61]:
classmates = ["Tony", "Caleb", "Lizz"]
if 'John' in char_name:
        print("Another struggler")
else:
        print("He is a deceiver")

He is a deceiver

##### 'not in' keyword'

In [62]:
classmates = ["Tony", "Caleb", "Lizz"]
if 'John' not in char_name:
        print("He is a deceiver")

He is a deceiver

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [74]:
#if-else code
name = input("Enter your name")
if "p" in name.lower():
    print("Congratulations, you're a dingus!")
elif name.isdigit():
    print("Try again, you smelly troll.")
else:
    print("Sorry, you'll never be a dingus.")

Try again, you smelly troll.

In [70]:
#ternary operator code
print("Congratulations, you're a dingus!") if "p" in input("Enter your name").lower() else print("Sorry, you'll never be a dingus.")

Sorry, you'll never be a dingus.

## Using 'and'/'or' with If Statements

### Elif Statements

### Else Statements

In [ ]:
# see above

### For Loops

In [78]:
# for [placeholder] in [iterable]
name  = "Joe Biren"
print("Ayo")
for letter in name: 
    print('*')
    print(letter)
    print('$')
print("Take me out to dinner")

Ayo
*
J
$
*
o
$
*
e
$
*

$
*
B
$
*
i
$
*
r
$
*
e
$
*
n
$
Take me out to dinner

##### Using 'in' keyword

In [ ]:
# see above
my_list = ["taco", 123, 123.5,[3,4,5], {"key":"value"}]

for thing in my_list:
    print(thing)
    print(type(thing))

In [ ]:
my_list = [8,99, 201]
for number in my_list:
    print(number+2)

In [85]:
myclass = ["Diana", "Gulfem", "Perry", "Caleb"]
                    # 0             #1              #2          #3
                    #0              #-3            #-2      #-1
print(myclass[2]) #first call the list name and THEN the numeral value from the list

Perry

In [86]:
len(myclass) #len = length of

4

In [87]:
list(range(4))

[0, 1, 2, 3]

In [95]:
#Access by Index

for index in range (len(myclass)):
    print(index)
    print(myclass[index])

0
Diana
1
Gulfem
2
Perry
3
Caleb

In [ ]:
a,b =(1,2 )
print(a)
print(b)

In [96]:
#use index and object at the same time
list(enumerate(myclass))

[(0, 'Diana'), (1, 'Gulfem'), (2, 'Perry'), (3, 'Caleb')]

In [100]:
for index, name in enumerate(myclass):
    print(name, "is at the index", index)

Diana is at the index 0
Gulfem is at the index 1
Perry is at the index 2
Caleb is at the index 3

##### Continue Statement

In [ ]:
# will continue to next iteration

In [116]:
for index, name in enumerate(myclass):
        if name [0].lower() == "c":
            print(name, "starts with C")
            continue
            print("The index for you is", index) # with conitnue before this line, it becomes unreachable(dead code)
        else: 
            print (f"{name} is not as cool as the others")

Diana is not as cool as the others
Gulfem is not as cool as the others
Perry is not as cool as the others
Caleb starts with C

##### Break Statement

In [ ]:
# will break out of current loop

In [119]:
myclass= ["Connor", "Caleb","Perry","Tony", "Lizzette", "Carol"]

for index, name in enumerate(myclass):
        if name [0].lower() == "c":
            print(name, "starts with C")
            break #stops the rest of the code from continuing after break
            print("The index for you is", index) # with conitnue before this line, it becomes unreachable(dead code)
        else: 
            print (f"{name} is not as cool as the others")

Connor starts with C

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [103]:
if True:
    pass
print ("hello")

hello

##### Double For Loops

In [123]:
counter = 0 
for i in range(5):

    for j in range(5):
        counter +=1
        print(f'i={i}  j={j} and total= {counter}')

i=0  j=0 and total= 1
i=0  j=1 and total= 2
i=0  j=2 and total= 3
i=0  j=3 and total= 4
i=0  j=4 and total= 5
i=1  j=0 and total= 6
i=1  j=1 and total= 7
i=1  j=2 and total= 8
i=1  j=3 and total= 9
i=1  j=4 and total= 10
i=2  j=0 and total= 11
i=2  j=1 and total= 12
i=2  j=2 and total= 13
i=2  j=3 and total= 14
i=2  j=4 and total= 15
i=3  j=0 and total= 16
i=3  j=1 and total= 17
i=3  j=2 and total= 18
i=3  j=3 and total= 19
i=3  j=4 and total= 20
i=4  j=0 and total= 21
i=4  j=1 and total= 22
i=4  j=2 and total= 23
i=4  j=3 and total= 24
i=4  j=4 and total= 25

### While Loops

In [125]:
#while [boolean]
    #code to do while true

num = 0
while num <10:
    num += 1
    print(num)

1
2
3
4
5
6
7
8
9
10

##### Looping 'While True'

In [ ]:
x = 0 
while True:
    print("Hello")
    x+=1
    if x==5:
        break

In [ ]:
while True:
    user_input = input("What do yo want to do? Quit or Continue? ")
    if user_input.lower() == "quit":
        break
    elif user_input.lower() == "continue":
        continue
    print("That was not a choice")
print("Game over")

##### While & For Loops Used Together

In [ ]:
num = 0
total = 0

while num<5:
    print("While loop iteration", run)
    for i in range(5):

### Built-In Functions

##### range()

##### dir()

##### help()

In [ ]:
help(str)

##### isinstance()

In [94]:
isinstance ("cow", str)

True

In [95]:
isinstance("cow", int)

False

##### abs()

In [17]:
#absolute value
print(abs(-5))
print(abs(5))

5
5

In [ ]:
! - bang, exclamation point
# - pound sign, hash/hashtag, octothrope
[] - brackets, square bracket
() - parans, parathesis l/r paran
{} - Braces, curly brackets , or Squiggles
#! - shebang
% - grapes, percen, mod
@ - at symbol 
* = star, splat or asterick

<> - angle brackets / greater than/less than ... Wakka /Wakka Wakka

### Try and Except

In [ ]:
3/0

In [ ]:
int("Steve")

In [ ]:
try:
    int("Steve")
except:
    print("Can't Divide by 0")
finally:
    print("Okay move along now")

### Lists

##### Declaring Lists

In [70]:
mylist = []
names = ["connor", "marco", "k rod ", "perry"]
mylist = ["string", 123, 123, 56, [1,2,3]]

##### Indexing a List

In [69]:
names = ["connor", "marco", "k rod", "perry" ]
print (names[2])
print(names[-2])

k rod
k rod

In [76]:
a_list = [1,2,3, ["a","b", "c"],4]
print(a_list[1])
print(a_list[3])
print(a_list[4])

a_list[3][1]
a_list[3][1].title()

2
['a', 'b', 'c']
4

'B'

In [90]:
names = ["connor", "marco", "k rod", "perry", "diana", "caleb", "dylan"]
                    #0              #1              #2          #3          #4          #5             #6
names[0:3] #we go up BEFORE three
names[2:5]
names[2:5][::-1]
names[4:1:-1]
names[::2]

['connor', 'k rod', 'diana', 'dylan']

##### .append()

In [91]:
names = ["connor", "marco", "k rod", "perry", "diana", "caleb", "dylan"]
                    #0              #1              #2          #3          #4          #5             #6
names.append("lizzette")
print(names)

['connor', 'marco', 'k rod', 'perry', 'diana', 'caleb', 'dylan', 'lizzette']

##### .insert()

In [93]:
names = ["connor", "marco", "k rod", "perry", "diana", "caleb", "dylan"]
                    #0              #1              #2          #3          #4          #5             #6
names.insert(3, 'lizzette')
print(names)

['connor', 'marco', 'k rod', 'lizzette', 'perry', 'diana', 'caleb', 'dylan']

##### .pop()

In [99]:
names = ["connor", "marco", "k rod", "perry", "diana", "caleb", "dylan"]
                    #0              #1              #2          #3          #4          #5             #6
#uses the numerical value
names.pop() #default removes string at the end
names.pop(1)
print(names)

['connor', 'k rod', 'perry', 'diana', 'caleb']


##### .remove()

In [105]:
names = ["connor", "marco", "k rod", "perry", "diana", "caleb", "dylan"]
                    #0              #1              #2          #3          #4          #5             #6
#uses the alphabetic title

names.remove("dylan")
print(names)

while"Perry" in names:
    names.remove("Perry")
names

['connor', 'marco', 'k rod', 'perry', 'diana', 'caleb']

['connor', 'marco', 'k rod', 'perry', 'diana', 'caleb']

##### del()

In [110]:
names = ["connor", "marco", "k rod", "perry", "diana", "caleb", "dylan"]
                    #0              #1              #2          #3          #4          #5             #6
del names [5]

names

#DO NOT USE DEL IN WHILE LOOP

['connor', 'marco', 'k rod', 'perry', 'diana', 'dylan']

##### Concatenating Two Lists

In [111]:
l1 = [1,2,3]
l2= [4,5,6]

l3= l1+l2
print(l3)

[1, 2, 3, 4, 5, 6]

In [112]:
l2.extend(l1)
l2

[4, 5, 6, 1, 2, 3]

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [37]:
#first we want a number from input DONE
#then we want to cube this number (**3) DONE
#after we want to make sure our cubed values end at 1000 range of cubes[0-1000]
#print the values within range


num= input("Input an integer whose cube does not exceed 1000")
new_num = int(num)**3
#print(new_num)

if int(new_num) in range (0,1001):
    print(f"You'll be receiving {new_num} moneys")
else:
    print("So you chose death.")

So you chose death.

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [1]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
#first we need to catalouge 1-100
#retrieve any number from our range
#then we filter the numbers in this list that are prime numbers 
#print


for i in range(1,100):
    if i == 2 or i == 3 or i == 5 or i == 7:
        print(i)
    else:
        if i % 2 == 0 or i % 3 == 0 or i % 5 == 0 or i % 7 == 0:
            continue
        else:
            print(i)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:
age = input("Enter your age")
if int(age) <18:
    print("rascal")
elif int(age)<66 and int(age)>17:
     print("grown")
else:
   print("Ha ha")